<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="100vh">
    <mat-grid-tile id="vert_nav">
      <app-navbar></app-navbar>
    </mat-grid-tile>
    <div id="file-wrapper">
      <div style="width: 78%; height: 10vh; background-color: #fff; right: 0; position: absolute; z-index: 10; display: flex; justify-content: space-between; align-items: center;">
        <img src="./assets/images/back_arr.png" alt="" style="height: 17px;
        margin: 16px 0px 25px 15px;">
        <h4 class="nav-mar" style="display: block; margin-top: 5px; display: block;
        margin-top: 10px;
        position: absolute;
        left: 4%;">Files</h4>
        <div id="navigate" style="position: absolute;
        top: 20%;
        left: 10%;
        display: flex;
        height: 50px;">
          <input class="nav-mar" type="checkbox" name="" id="top-check" style="height: 30px;
          margin-top: 5px;">
          <!-- <span>
            <img src="./assets/images/search.png" alt="">
          </span> -->
          <input class="nav-mar" matInput type="search" name="" placeholder="Search files or folders..." id="" style="padding: 5% 20%;
          height: 40px;
          z-index: 12;
          margin-left: 40px;
          border: 1px solid #FCBF38;
          border-radius: 5px;">
          <!-- <span>
            <img src="./assets/images/config.png" alt="">
          </span> -->
          
        </div>
        <div id="action-btns" style="margin-right: 10%;">
          <img src="./assets/images/cloud_down.png" alt=""><img src="./assets/images/b_cloudUp.png" alt="">
          <img src="./assets/images/b_add.png" alt=""><img src="./assets/images/checkout.png" alt="">
          <img src="./assets/images/unlock.png" alt=""><img src="./assets/images/bin.png" alt="">
          <img src="./assets/images/send_file.png" alt="">
          <img src="./assets/images/3dots.png" alt="" style="position: absolute; right: 0;">
        </div>
      </div>
      <mat-grid-tile id="main_area">
        <div style="display: block; width: 100%; height: 90vh; overflow-y: hidden; overflow-x: hidden; bottom: 0; position: absolute; border-radius: none; box-shadow: 2px 4px 32px rgba(0, 0, 0, .3)!important;">
          <mat-card class="example-card" *ngFor="let file of file_cards" style="border-radius: none!important; display: flex; width: 100%;">
            <input type="checkbox" name="" id="">
            <img src="./assets/images/folder_icon.png" alt="" style="height: 40px; margin-top: 11px;">
            <div class="card-title" style="display: block; width: 50%;">
              <h2>{{file.title}}</h2>
              <h5>{{file.description}}</h5>
            </div>
            <div class="card-icon-tray" style="display: flex;">
              <img src="/assets/images/attach.png" alt="">
              <img src="/assets/images/ping.png" alt="">
              <img src="/assets/images/comment.png" alt="">
              <img src="/assets/images/cloud_down.png" alt="">
            </div>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile id="info_area">
        <div id="info-wrapper" style="position: absolute; top: 8vh; left: 5%;">
          <div class="info-title">
            <img src="/assets/images/file.png" alt="" style="margin: 36px 0 -28px 0;">
            <p class="title-title-topic" style="margin-left: 35px;">Shared Folder</p>
          </div>
          <div class="info-createdAt">
            <h5 class="info-heading">Created At</h5>
            <p class="info-text"> 17 September, 2021 at 12:25 </p>
          </div>
          <div class="info-location">
            <h5 class="info-heading">Where</h5>
            <p class="info-text"> Files </p>
          </div>
          <div class="info-permission">
            <h5 class="info-heading">Permission</h5>
            <p class="info-text"> View and Download </p>
          </div>
          <!-- unlock input -->
          <div class="info-labels">
            <h5 class="info-heading">Labels</h5>
            <p class="info-text"> Development </p>
          </div>
          <!-- another one -->
          <div class="input-notes">
            <h5 class="info-heading">Notes</h5>
            <p class="info-text"> Please read the license agreement before use </p>
            <h5 style="color: gray;">John Doe, 18 September, 2021 at 15:03 </h5>
          </div>
        </div>
        
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>