<div id="main-wrapper">
    <div id="info-container">
        <h3>Create New Account</h3>
        <h5>Please fill registration to create account</h5>
        <form action="" id="user-form">
            <div class="field-wrap">
            <label for="user-email">email</label>
            <mat-form-field appearance="fill" class="main-field">
                <input matInput id="user-email">
            </mat-form-field>
        </div>
        <div class="field-wrap">
            <label for="user-full-name">full name</label>
            <mat-form-field appearance="fill" class="main-field">
                <input matInput id="user-full-name">
            </mat-form-field>
            </div>
            <div class="field-wrap">
            <label for="user-password">create password</label>
            <mat-form-field appearance="fill" class="main-field">
                <input matInput id="user-password">
            </mat-form-field>
        </div>
        <div class="field-wrap">
            <label for="user-confirm-password">confirm password</label>
            <mat-form-field appearance="fill" class="main-field">
                <input matInput id="user-confirm-password">
            </mat-form-field>
            </div>
        </form>
        <p> By clicking on 'Create Account' button I agree to the </p>
        <p> <span> Terms of Service </span> and <span> Privacy Policy </span>  </p>
        <div id="call-to-act">
            <button mat-stroked-button> Create Account 
                <img src="./assets/images/for_arr.png" alt="" style="height: 15px; align-self: center;">
            </button>
            </div>
        <p id="existing-acc">Already have an account? <span> Sign Up </span></p>
    </div>
    <div id="image-container">
        <div id="inner-image-container">
            <img src="./assets/images/folder_icon.png" alt="" id="folder-img">
            <img src="./assets/images/man_demomstrating.png" alt="" id="man-img">
            <img src="./assets/images/orange_circle.png" alt="" id="or-circle">
        </div>
    </div>
</div>