@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1b2539;
}

.info-container {
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

#main-wrapper {
  display: flex;
  padding: 4% 0;
  justify-content: center;
  overflow-y:  hidden;
}

h3 {
  font-size: 24px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 2%;
}

h5 {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-top: 0;
}

#user-form{
    margin: 15% 0% 0 -12%;
    width: 100%;
}

.field-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin: 0 0 40px 0;
  }

label {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  align-self: baseline;
  width: 100%;
  margin-right: 20px;
}

.mat-form-field-wrapper, .mat-form-field-flex {
    height: 40px;
}

.mat-form-field-infix {
    margin-top: -10px;
}

p{
    text-align: center;
}

span{
    color: #FCBF38;
}

#call-to-act{
    display: flex;
    justify-content: center;
    width: 100%;
}

#call-to-act > button{
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 40%;
    border-radius: 5px;
    border: 2px solid #1b2539;
    align-items: center;
}

#existing-acc {
    margin-top: 5px;
}

#image-container{
    margin-left: -8%;
}

#inner-image-container {
  display: flex;
}

#folder-img {
  height: 64px;
  margin: 20% 0 0 25%;
}

#man-img {
  height: 540px;
  z-index: 3;
  margin-left: -5%;
}

#or-circle {
  height: 225px;
  margin: 25% 0 0 -15%;
  z-index: 2;
}
