<nav
  style="width: 27%; position: absolute; top: 0; left: 0; text-align: center; background: #F4F5F6;
  "
>
  <img
    src="./assets/images/logo.png"
    alt=""
    style="border: 3px dashed #fcbf38;
    height: 43px;
    width: 41px;
    border-radius: 33px;
    margin-top: 10%;
    padding: 5%;"
    id="logo"
  />
  <ul style="list-style: none; padding: 0; width: 100%; height: 85vh;">
    <div id="primary-icon-tray" style="width: fit-content;">
      <li class="primary-icon-wrapper" style="background-color: rgba(252, 191, 56, 0.3);" (click)="isStorageToggled=!isStorageToggled"><img src="./assets/images/hard_drive.png" alt="" style="height: 30px;"></li>
      <li class="primary-icon-wrapper" (click)="isTeamToggled=!isTeamToggled"><img src="./assets/images/people.png" alt="" style="height: 30px;"></li>
      <li class="primary-icon-wrapper" (click)="isAnalyticsToggled=!isAnalyticsToggled"><img src="./assets/images/analytics.png" alt="" style="height: 30px;"></li>
      <li class="primary-icon-wrapper" (click)="isUserToggled=!isUserToggled"><img src="./assets/images/user.png" alt="" style="height: 30px;"></li>
      <li class="primary-icon-wrapper" (click)="isSettingsToggled=!isSettingsToggled"><img src="./assets/images/msg_sq.png" alt="" style="height: 30px;"></li>
    </div>
    <div id="secondary-icon-tray" style="position: absolute; bottom: 0;">
      <li class="primary-icon-wrapper"><img src="./assets/images/help.png" alt="" style="height: 30px;"></li>
      <li class="primary-icon-wrapper"><img src="./assets/images/logout.png" alt="" style="height: 30px;"></li>
    </div> 
  </ul>
</nav>
<section id="nav-extension" style="">
    <ul>
        <h6 mat-h6>Base</h6>
        <li><a style="text-decoration: none;" routerLink="/filemanager" (click)="changeTextColor('fm')"><img src="./assets/images/home.png" alt=""><span id="fm" style="">Files</span></a></li>
        <li><a style="text-decoration: none;" routerLink="/recent" (click)="changeTextColor('rc')"><img src="./assets/images/b_cloud.png" alt=""><span style="" id="rc">Recent Uploads</span></a></li>
        <li><a style="text-decoration: none;" routerLink="/trash" (click)="changeTextColor('tr')"><img src="./assets/images/bin.png" routerLink="/trash" alt=""><span id="tr" style="">Trash</span></a></li>

        <h6 mat-h6 style="margin-top: 40px;">Favourites</h6>
        <li><img src="./assets/images/file.png" alt=""><span>Media</span></li>
        <li><img src="./assets/images/file.png" alt=""><span>Nature</span></li>
        <li><img src="./assets/images/file.png" alt=""><span>Apartments</span></li>
        <li><img src="./assets/images/file.png" alt=""><span>Harry Potter</span></li>
        <li><img src="./assets/images/file.png" alt=""><span>Storror</span></li>
        <li><img src="./assets/images/file.png" alt=""><span>Sports</span></li>
    </ul>
    <ul *ngIf="isTeamToggled">
        <li><img src="" alt=""><span>5</span></li>
        <li><img src="" alt=""><span>6</span></li>
        <li><img src="" alt=""><span>7</span></li>
        <li><img src="" alt=""><span>8</span></li>
    </ul>
    <ul *ngIf="isAnalyticsToggled">
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
    </ul>
    <ul *ngIf="isUserToggled">
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
    </ul>
    <ul *ngIf="isSettingsToggled">
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
        <li><img src="" alt=""><span></span></li>
    </ul>
</section>

