.primary-icon-wrapper {
    width: 100%;
    margin: 0 10px 20px 10px;
    padding: 10%;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  #nav-extension {
    width: 243px;
    position: absolute;
    top: 1%;
    left: 23%;
    background: #F4F5F699;
    height: 100vh;
  }
  
  #nav-extension > ul >li{
    margin-bottom: 20px;
    display: flex;
    /* align-items: baseline; */
    width: 200px;
  }
  
  #nav-extension > ul >li>span{
    margin-left: 15px;
  }
  
  ul{
    list-style: none;
  }
  
  h6{
    font-size: 13px;
    color: #afafaf;
    font-weight: 100;
  }
  
  img{
    height: 18px;
  }
  
  span{
    color: #000;
    margin-left: 15px;
  }
  
  /* span:active{
    color: #FCBF38;
  } */