* {
    margin: 0;
    padding: 0;
  }
  
  .grid-container {
    height: 100vh;
    width: 100vw;
  }
  
  .mat-grid-tile#vert_nav {
    width: 22% !important;
    background-color: #fff;
    top: 0 !important;
    z-index: 12;
  }
  
  .mat-grid-tile#main_area {
    width: 47% !important;
    left: 22% !important;
    background-color: #fff;
    z-index: 5;
    height: 100% !important;
  }
  
  .mat-grid-tile#info_area {
    width: 28% !important;
    left: 72% !important;
    background-color: #fff;
    z-index: 5;
  }
  
  .mat-card {
    border: none !important;
    box-shadow: none !important;
    border-radius: none !important;
  }
  
  img {
    height: 30px;
    margin: 25px;
  }
  
  .nav-mar {
    margin-right: 10%;
  }
  
  .info-heading {
    color: #fcbf38;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .info-text {
    font-size: 16px;
  }
  
  input[type="checkbox"] {
    width: 35px;
    height: 35px;
    margin-top: 13px;
  }
  
  input#top-check {
    height: 20px!important;
    margin-top: 8px!important;
    margin-left: auto;
    position: fixed;
    margin-left: -15px!important;
  }

  .card-icon-tray > img{
    height: 20px;
}
  